<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if request_delete user %>
    | <%= link_to t(".delete"), user, data: {"turbo-method": :delete, "turbo-confirm": t(".confirm_delete")} %>
  <% end %>
</li>
