<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<table id="products" class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Create At</th>
    <th>Update At</th>
    <th>Info</th>
  </tr>
  <%= render @products %>

  <%# end %>
</table>

<%= link_to "New product", new_product_path %>